.contenedor{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-top: 20px;
    margin: 20px auto;
}

p{
    margin-top: 10px;
    font-family: var(--fuente);
}

.contenedorForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.pareja{
    width: 200px;
}


.formulario{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

input{
    box-shadow: 1px 1px 9px 2px white;
    padding: 5px 
}

.boton{
    box-shadow: none;
    width: 80px;
    margin: 10px auto;
    padding: 6px 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 8px  rgba(3, 3, 3, 0.6);
    color: rgb(3, 3, 3);
    cursor: pointer;
}
.boton:hover{
    background-color:#9f8dd8 ;
}

input::placeholder{
    padding-left:12px;
    font-family: var(--fuente);
    color: black;
}


@media screen and (min-width:720px) {

    .contenedorForm{
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 700px;
        max-width: 800px;
    }

    .formulario{
        gap: 20px;
        width: 300px;
        
    }


    
    .contenedor{
        padding: 20px;
        
    }
}