:root{
  --rosa: #cd79e9;
  --violeta: #594990;
  --fuente: 'Oswald';

  
  
}

body{
  background: linear-gradient( #cd79e9, #594990);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media screen and (min-width:1200px) {
  .app{
    max-width: 1100px;
    width: 1100px;
    
  }
}
